body{
    background-color:rgba(213, 224, 221, 0.692);
}

h1 {
    font-size:80px;
    color:rgb(76, 82, 80);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgba(102, 205, 171, 0.692);
    
    height:120px;
    position: static;
    margin-top: 50px;
    padding-left: 5px;
    padding-top:5px;
    text-align:center;
}

img{
    width:180px;
    height:120px;
    position:center;
}

h4{
    color:rgb(80, 165, 137);;
    text-align:center;
    font-size:40px;
}

h6{
    color:rgb(76, 82, 80);
    text-align:center;
    font-size:15px;
}