
body{
    background-color:rgba(213, 224, 221, 0.692);
}
h1 {
    font-size:80px;
    color:rgb(76, 82, 80);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgba(102, 205, 171, 0.692);
    
    height:120px;
    position: static;
    margin-top: 50px;
    padding-left: 5px;
    padding-top:5px;
    text-align:center;
}
h2{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    color:rgb(80, 165, 137);;
    background-color:rgba(102, 205, 171, 0.219);
}
.logo{
    width:180px;
    height:120px;
    position:center;
}

p{
    text-align:center;
    border:dotted rgb(240, 241, 241);
    color:rgb(76, 82, 80);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(80, 165, 137);;
    font-size:30px;

}

.piggy{
    position:center;
    width:50%;
    height:50%;
    margin:auto;
}